#container {
    height: 700px;
    width: 1000px;
    background-color: aquamarine;
    margin: auto;
    display: flex;
    border: 1px solid purple;
}

#button {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.squares {
    display: flex;
    border: 1px solid black;
    height: 10px;
    width: 100%;
    flex: 1;
}

.rows {
    display: flex;
    flex-direction: column;
    flex: 1;
}